:root {
  --ee-color-bg: #f3f3f3;
  --ee-color-white: #ffffff;
  --ee-color-black: #3a3a3a;
  --ee-color-text: #7e7e7e;
  --Primary-primary-500: #3e77fc;
  --ee-color-secondery: #ecf1ff;
}
.ee-body-wrapper a {
  text-decoration: none;
}
.ee-secondery-heading {
  text-align: left;
  font-family: "Segoe UI";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  margin-bottom: 8px;
}
.ee-secondery-p {
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
}
.ee-button {
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  border-radius: 8px;
  padding: 16px 24px;
  display: inline-block;
  transition: 0.3s;
}
.ee-box-shadow {
  box-shadow: initial;
}
.ee-dashboard-tab-wrapper a:focus,
.ee-body-wrapper a:focus {
  outline: 0;
  box-shadow: initial;
}

/************************
  Dashboard Tab Wrapper
  ************************/

.ee-dashboard-tab-wrapper {
  text-align: center;
}
.ee-dashboard-tabs {
  display: inline-flex;
  justify-content: center;
  margin-top: 32px;
  background: var(--ee-color-white);
  border-radius: 8px;
  padding: 24px 32px;
}
.ee-dashboard-tabs a {
  padding: 16px 26px;
  cursor: pointer;
  color: var(--ee-color-black);
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  border-radius: 8px;
  text-decoration: none;
}

.ee-dashboard-tabs a.active {
  color: var(--ee-color-white);
  background: var(--Primary-primary-500);
}
.ee-dashboard-tabs a svg {
  width: 20px;
  height: 20px;
  fill: var(--ee-color-black);
}
.ee-dashboard-tabs a.active svg {
  fill: #ffffff;
}

.ee-body-wrapper {
  padding: 30px 50px 40px 40px;
  display: none;
}
.ee-body-wrapper.active {
  display: block;
}
.ee-body-content-wrapper {
  display: flex;
  gap: 32px;
}
.ee-header-banner {
  margin-bottom: 30px;
}
.ee-header-banner img {
  max-width: 100%;
}
.ee-body-content-left {
  width: 75%;
}
.ee-body-content-right {
  width: 25%;
}
.ee-support-info-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  margin-bottom: 40px;
}
.ee-support-item {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 100%;
  padding: 24px;
  border-radius: 8px;
  background: var(--ee-color-white);
}
.ee-support-item h3,
.ee-control-elements-heading {
  margin: 0;
  color: #3a3a3a;
  font-family: "Segoe UI";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.ee-video-tutorial-wrapper {
  padding: 32px;
  border-radius: 8px;
  background: var(--ee-color-white);
}
.ee-video-tutorial-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.ee-video-header-left {
  display: flex;
  align-items: center;
  gap: 24px;
}
.ee-video-header-left-content h2 {
  color: var(--ee-color-black);
}

.ee-video-header-left-content p {
  color: var(--ee-color-text);
}
.ee-video-header-right a {
  background: var(--ee-color-secondery);
  color: var(--Primary-primary-500);
}
.ee-video-header-right a:hover,
.ee-live-copy-paste-wrapper a:hover {
  color: var(--ee-color-secondery);
  background: var(--Primary-primary-500);
}
.ee-video-tutorial-item {
  width: 100%;
  position: relative;
}
.ee-video-tutorials-wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.ee-video-tutorial-item img {
  width: 100%;
  cursor: pointer;
}
.ee-video-play-button {
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ee-video-tutorial-item h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--ee-color-white);
  margin: 0;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}

.ee-feature-request-wrapper {
  padding: 32px;
  background: var(--Primary-primary-500);
  border-radius: 8px;
  margin-bottom: 32px;
}
.ee-feature-request-header {
  display: flex;
  align-items: center;
  gap: 16px;
}
.ee-feature-request-header h3 {
  color: var(--ee-color-white);
}
.ee-feature-request-wrapper p {
  color: var(--ee-color-white);
  margin: 24px 0;
}
.ee-feature-request-wrapper a {
  color: var(--Primary-primary-500, #3e77fc);
  background: var(--Color-White-White-400, #fff);
}
.ee-live-copy-paste-wrapper {
  padding: 32px;
  background: var(--ee-color-white);
  border-radius: 8px;
}
.ee-live-copy-paste {
  display: flex;
  align-items: center;
  gap: 16px;
}
.ee-live-copy-paste-wrapper p {
  margin: 24px 0;
}
.ee-live-copy-paste-wrapper a {
  background: var(--ee-color-secondery);
  color: var(--Primary-primary-500);
}

/********************************
 Elements Tab Style
 ********************************/
.ee-elements-dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background: var(--ee-color-white);
  border-radius: 8px;
  margin-bottom: 24px;
}
.ee-elements-header-switcher-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.ee-elements-header-switcher-control {
  display: flex;
  align-items: center;
  gap: 15px;
}
.ee-elements-header-save-settings .ee-button {
  background: var(--Primary-primary-500);
  color: var(--ee-color-white);
  border: none;
  cursor: pointer;
}
.ee-elements-control-switchers-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 34px 24px;
  margin-top: 36px;
  margin-bottom: 36px;
}
.ee-elements-update-label {
  position: absolute;
  top: -15px;
  background: var(--ee-color-text);
  padding: 6px 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
}
.ee-elements-control-item {
  background: #ffffff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}
.ee-elements-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ee-elements-controls h3{
  margin: 0;
}
.ee-elements-control {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ee-elements-control a {
  position: relative;
}
.ee-elements-control a:hover .ee-tooltip {
  display: block;
}
.ee-tooltip {
  position: absolute;
  font-size: 13px;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--ee-color-white);
  background: var(--ee-color-black);
  padding: 3px 5px;
  border-radius: 4px;
  display: none;
}
.ee-tooltip::after {
  content: "";
  position: absolute;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  background: var(--ee-color-black);
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%);
  height: 8px;
  width: 15px;
  border-radius: 3px;
}
.ee-elements-update-label.ee-popular {
  background: var(--Primary-primary-500);
}
.ee-elements-switch {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 30px;
}

.ee-elements-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.ee-elements-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--ee-color-bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.ee-elements-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: var(--ee-color-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.ee-elements-switch input:checked + .ee-elements-slider {
  background-color: var(--Primary-primary-500);
}

.ee-elements-switch input:focus + .ee-elements-slider {
  box-shadow: initial;
}

.ee-elements-switch input:checked + .ee-elements-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.ee-elements-slider.round {
  border-radius: 34px;
}

.ee-elements-slider.round:before {
  border-radius: 50%;
}

.ee-elements-dashboard-wrapper {
  display: flex;
  gap: 32px;
}

.ee-system-info-list {
  overflow: auto;
  width: 100%;
}

.ee-system-info-list table {
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.ee-system-info-list th {
  background-color: var(--ee-color-secondery);
  color: var(--ee-color-black);
  padding: 14px 10px;
  border-radius: 4px;
}

.ee-system-info-list td {
  background-color: var(--ee-color-white);
  color: var(--ee-color-black);
  padding: 10px;
}
.ee-system-info-list tbody tr {
  border-bottom: 1px solid var(--ee-color-secondery);
}

/* Popup container - can be anything you want */
.ee-popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Popup content */
.ee-popup-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 10px;
  width: 100%;
  max-width: 840px;
}

/* Close button */
.ee-close {
  position: absolute;
  color: var(--ee-color-white);
  font-size: 28px;
  right: -26px;
  top: -20px;
}
.ee-close:hover,
.ee-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}






@media screen and (max-width: 1024px) {
  .ee-body-wrapper {
    padding: 30px;
    padding-left: 20px;
  }
  .ee-body-content-left {
    width: 60%;
  }
  .ee-body-content-right {
    width: 40%;
  }
  .ee-video-header-right {
    display: none;
  }
  .ee-secondery-heading {
    font-size: 18px;
  }

  /****************** Elements CSS ********************/
  .ee-elements-dashboard {
    gap: 30px;
    flex-direction: column;
  }
  .ee-elements-header-content h2 {
    text-align: center;
  }

  .ee-elements-dashboard-wrapper {
    flex-direction: column;
    gap: 0px;
  }
}

@media screen and (max-width: 768px) {
  /****************** Responsive Tab CSS ********************/
  .ee-dashboard-tabs a span {
    display: none;
  }
  .ee-dashboard-tabs a.active span {
    display: block;
  }
  .ee-dashboard-tabs {
    padding: 12px 12px;
  }
  .ee-dashboard-tabs a {
    padding: 12px 16px;
  }

  .ee-body-wrapper {
    padding: 10px;
    padding-left: 0;
  }
  .ee-body-content-wrapper {
    flex-direction: column;
  }
  .ee-body-content-left,
  .ee-body-content-right {
    width: 100%;
  }
  .ee-support-info-wrapper {
    gap: 24px;
  }
  .ee-header-banner {
    margin-bottom: 20px;
  }
  .ee-support-info-wrapper {
    margin-bottom: 24px;
  }

  .ee-video-tutorial-wrapper {
    padding: 24px;
  }

  /****************** Elements CSS ********************/
  .ee-elements-header-switcher-controls {
    gap: 30px;
    flex-direction: column;
  }

  /************** System Info Responsive ***************/
  .ee-elements-dashboard {
    padding: 20px;
}
  .ee-system-info-list th {
    padding: 10px 10px;
  }
  .ee-system-info-list td {
    padding: 10px;
  }
}
