:root {
  --ele-color-bg: #f3f3f3;
  --ele-color-white: #ffffff;
  --ele-color-black: #3a3a3a;
  --ele-color-text: #7e7e7e;
  --Primary-primary-500: #3e77fc;
  --ele-color-secondery: #ecf1ff;
}

.ele-body-wrapper a {
  text-decoration: none;
}

.ele-secondery-heading {
  margin: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  font-family: "Segoe UI";
  text-align: left;
}

.ele-secondery-p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  font-family: "Segoe UI";
}

.ele-button {
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  font-family: "Segoe UI";
}

.ele-submit-save-button {
  border: none;
  border-radius: 4px;
  background: #3e77fc;
  padding: 10px 20px;
  color: #ffffff;
}

.ele-white {
  color: var(--ele-color-white);
}

.ele-box-shadow {
  box-shadow: initial;
}

.ele-mb-24 {
  margin-bottom: 24px;
}

.ele-dashboard-tab-wrapper a:focus,
.ele-body-wrapper a:focus {
  outline: 0;
  box-shadow: initial;
}

/************************
  Dashboard Tab Wrapper
  ************************/

.ele-dashboard-tab-wrapper {
  text-align: center;
}

.ele-dashboard-tabs {
  display: inline-flex;
  justify-content: center;
  margin-top: 32px;
  border-radius: 8px;
  background: var(--ele-color-white);
  padding: 24px 32px;
}

.ele-dashboard-tabs a {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px 26px;
  color: var(--ele-color-black);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  font-family: "Segoe UI";
  text-decoration: none;
}

.ele-dashboard-tabs a.active {
  background: var(--Primary-primary-500);
  color: var(--ele-color-white);
}

.ele-dashboard-tabs a svg {
  fill: var(--ele-color-black);
  width: 20px;
  height: 20px;
}

.ele-dashboard-tabs a.active svg {
  fill: #ffffff;
}

.ele-body-wrapper {
  display: none;
  padding: 30px 50px 40px 40px;
}

.ele-body-wrapper.active {
  display: block;
}

.ele-body-content-wrapper {
  display: flex;
  gap: 32px;
}

.ele-header-banner {
  margin-bottom: 30px;
}

.ele-header-banner img {
  max-width: 100%;
}

img.ele-promo-banner-tablet,
img.ele-promo-banner-mobile {
  display: none;
}

.ele-body-content-left {
  width: 65%;
}

.ele-body-content-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 35%;
}

.ele-support-info-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  margin-bottom: 40px;
}

.ele-support-item {
  display: flex;
  align-items: center;
  gap: 16px;
  transition: 0.3s;
  border-radius: 8px;
  background: var(--ele-color-white);
  padding: 24px;
  max-width: 100%;
}

.ele-support-item:hover {
  background: var(--Primary-primary-500);
}

.ele-support-item:hover h3 {
  color: var(--ele-color-white);
}

.ele-support-item h3,
.ele-control-elements-heading {
  margin: 0;
  color: #3a3a3a;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  font-family: "Segoe UI";
}


.ele-feature-request-wrapper {
  border-radius: 8px;
  background: var(--Primary-primary-500);
  padding: 32px;
}

.ele-feature-request-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ele-feature-request-header h3 {
  color: var(--ele-color-white);
}

.ele-feature-request-wrapper p {
  margin: 24px 0;
  color: var(--ele-color-white);
}

.ele-feature-request-wrapper a {
  background: var(--Color-White-White-400, #fff);
  color: var(--Primary-primary-500, #3e77fc);
}

.ele-template-library-wrapper {
  border-radius: 8px;
  background: var(--ele-color-white);
  padding: 32px;
}
.ele-template-library {
  margin-bottom: 15px;
}

.ele-template-library img {
  max-width: 100%;
}

.ele-template-library-wrapper p {
  margin: 0 0 24px 0
}

.ele-template-library-wrapper a {
  background: var(--ele-color-black);
  color: var(--ele-color-white);
}

/********************************
 Elements Tab Style
 ********************************/
.ele-elements-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 8px;
  background: var(--ele-color-white);
  padding: 40px;
}

.ele-elements-header-switcher-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.ele-elements-header-switcher-control {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ele-elements-header-save-settings .ele-button {
  cursor: pointer;
  border: none;
  background: var(--Primary-primary-500);
  color: var(--ele-color-white);
}

.ele-elements-control-switchers-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 34px 24px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.ele-elements-update-label {
  position: absolute;
  top: -15px;
  border-radius: 4px;
  background: var(--ele-color-text);
  padding: 6px 12px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

.ele-elements-control-item {
  position: relative;
  border-radius: 8px;
  background: #ffffff;
  padding: 24px;
}

.ele-elements-controls {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.ele-elements-controls h3 {
  margin: 0;
}
.ele-elements-controls h3::after {
  position: absolute;
  top: 10px;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 100%;
  background: #707070;
  width: 13px;
  height: 13px;
  content: "?";
  color: #fff;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}

.ele-elements-control {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ele-elements-control a {
  position: relative;
}

.ele-elements-control a:hover .ele-tooltip {
  display: block;
}

.ele-tooltip {
  display: none;
  position: absolute;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  background: var(--ele-color-black);
  padding: 3px 5px;
  color: var(--ele-color-white);
  font-size: 13px;
}

.ele-tooltip::after {
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  border-radius: 3px;
  background: var(--ele-color-black);
  width: 15px;
  height: 8px;
  content: "";
}

.ele-elements-update-label.ele-popular {
  background: var(--Primary-primary-500);
}

.ele-elements-switch {
  display: inline-block;
  position: relative;
  width: 57px;
  height: 30px;
}

.ele-elements-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.ele-elements-slider {
  -webkit-transition: 0.4s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  cursor: pointer;
  background-color: var(--ele-color-bg);
}

.ele-elements-slider:before {
  -webkit-transition: 0.4s;
  position: absolute;
  bottom: 5px;
  left: 5px;
  transition: 0.4s;
  background-color: var(--ele-color-white);
  width: 20px;
  height: 20px;
  content: "";
}

.ele-elements-switch input:checked + .ele-elements-slider {
  background-color: var(--Primary-primary-500);
}

.ele-elements-switch input:focus + .ele-elements-slider {
  box-shadow: initial;
}

.ele-elements-switch input:checked + .ele-elements-slider:before {
  transform: translateX(26px);
}

.ele-elements-slider.round {
  border-radius: 34px;
}

.ele-elements-slider.round:before {
  border-radius: 50%;
}

.ele-elements-dashboard-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.ele-elements-dashboard-wrapper.ele-support {
  margin: auto;
  max-width: 1240px;
}

.ele-integration-info-list {
  width: 100%;
  overflow: auto;
}

.ele-integration-info-list table {
  border-collapse: collapse;
  border-spacing: 1px;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  text-align: left;
}

.ele-integration-info-list th {
  border-radius: 4px;
  background-color: var(--ele-color-secondery);
  padding: 14px 10px;
  color: var(--ele-color-black);
}

.ele-integration-info-list td {
  background-color: var(--ele-color-white);
  padding: 10px;
  color: var(--ele-color-black);
}

.ele-integration-info-list tbody tr:last-child {
  border-bottom: none;
}

.ele-integration-info-list .ele-integration-field {
  border: 1px solid #ddd;
  padding: 5px 10px;
  width: 100%;
}

/******************* Support Tab ****************/
.ele-support-features {
  margin-left: 20px;
  list-style: square;
}

/* Popup container - can be anything you want */
.ele-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Popup content */
.ele-popup-content {
  position: relative;
  margin: auto;
  background-color: #fff;
  padding: 10px;
  width: 100%;
  max-width: 840px;
}

/* Close button */
.ele-close {
  position: absolute;
  top: -20px;
  right: -26px;
  color: var(--ele-color-white);
  font-size: 28px;
}

.ele-close:hover,
.ele-close:focus {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .ele-body-wrapper {
    padding: 30px;
    padding-left: 20px;
  }

  .ele-promo-banner-desktop,
  .ele-promo-banner-mobile {
    display: none;
  }

  .ele-promo-banner-tablet {
    display: block !important;
  }

  .ele-body-content-left {
    width: 60%;
  }

  .ele-body-content-right {
    width: 40%;
  }

  .ele-secondery-heading {
    font-size: 18px;
  }

  /****************** Elements CSS ********************/
  .ele-elements-dashboard {
    flex-direction: column;
    gap: 30px;
  }

  .ele-elements-header-content h2 {
    text-align: center;
  }

  .ele-elements-dashboard-wrapper {
    flex-direction: column;
    gap: 0px;
  }
}

@media screen and (max-width: 768px) {
  /****************** Responsive Tab CSS ********************/
  .ele-dashboard-tabs a span {
    display: none;
    font-weight: 400;
  }

  .ele-dashboard-tabs a.active span {
    display: block;
  }

  .ele-dashboard-tabs {
    padding: 12px 12px;
  }

  .ele-dashboard-tabs a {
    gap: 5px;
    padding: 8px 12px;
  }
  
  .ele-dashboard-tabs a svg {
    width: 16px;
    height: 16px;
}
  .ele-body-wrapper {
    padding: 10px;
    padding-left: 0;
  }

  .ele-promo-banner-desktop,
  .ele-promo-banner-tablet {
    display: none !important;
  }

  .ele-promo-banner-mobile {
    display: block !important;
  }

  .ele-body-content-wrapper {
    flex-direction: column;
  }

  .ele-body-content-left,
  .ele-body-content-right {
    width: 100%;
  }

  .ele-support-info-wrapper {
    gap: 24px;
  }

  .ele-header-banner {
    margin-bottom: 20px;
  }

  .ele-support-info-wrapper {
    margin-bottom: 24px;
  }


  /****************** Elements CSS ********************/
  .ele-elements-header-switcher-controls {
    flex-direction: column;
    gap: 30px;
  }

  /************** integration Info Responsive ***************/
  .ele-elements-dashboard {
    padding: 20px;
  }

  .ele-integration-info-list th {
    padding: 10px 10px;
  }

  .ele-integration-info-list td {
    padding: 10px;
  }
}
