#easy-library-btn {
    border-radius: 30px;
    margin-left: 5px;
    background-color: #3e77fc;
    background-image: linear-gradient(145deg, #7da5ff 0%, #3e77fc 100%);
}

#easy-library-btn i {
    font-size: 30px;
    color: #fff;
    line-height: 18px;
    margin-left: -7px;
}