.ele-widget-icon:after, [class*=elementor-control-section_ele] .elementor-section-title:after {
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 2px;
    padding: 1px 2px;
    content: 'EE';
    color: #a7a7a7;
    font-weight: 400;
    font-size: 9px;
    line-height: 10px;
    font-family: "Open Sans", Roboto, Helvetica, Arial, sans-serif;
}

[class*=elementor-control-section_ele] .elementor-section-title:after {
    -webkit-transform: translateY(-50%);
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

/*************************************************
Easy Elements Team Widget Mask Image Shape Style Css write by Papan Biswas
**************************************************/
.elementor-control-image-selector-wrapper {
    -ms-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: -6px;
    margin-left: -6px;
    max-height: 160px;
    overflow-y: scroll;
}

.elementor-control-image-selector-wrapper input[type=radio] {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
.elementor-control-image-selector-wrapper input:checked+.elementor-image-selector-label {
    opacity: 1;
    border-color: #a4afb7;
}
.elementor-control-image-selector-wrapper .elementor-image-selector-label {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc((100% - 18px)/ 3);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    flex: 0 0 calc((100% - 18px)/ 3);
    opacity: .5;
    cursor: pointer;
    margin: 3px;
    border: 3px solid transparent;
    border-radius: 4px;
    padding: 3px;
    overflow: hidden;
    user-select: none;
}
.elementor-control-image-selector-wrapper .elementor-image-selector-label>img {
    width: 100%;
    height: 100%;
}
.elementor-screen-only, .screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
    clip: rect(0,0,0,0);
    position: absolute;
    top: -10000em;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#elementor-panel-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

#elementor-panel-categories>#elementor-panel-category-favorites {
    -webkit-box-ordinal-group: -5;
    -ms-flex-order: -6;
    order: -6
}

#elementor-panel-categories>div#elementor-panel-category-layout {
    -webkit-box-ordinal-group: -4;
    -ms-flex-order: -5;
    order: -5
}

#elementor-panel-categories>div#elementor-panel-category-basic {
    -webkit-box-ordinal-group: -3;
    -ms-flex-order: -4;
    order: -4
}

#elementor-panel-categories>#elementor-panel-category-easyelements {
    -webkit-box-ordinal-group: -2;
    -ms-flex-order: -3;
    order: -3
}
